<h2>Hola {{name}},</h2>
<p>Gracias por registrarte en nuestra tienda. Por favor confirma tu email:</p>
<a href="{{url}}" class="button">Confirmar mi cuenta</a>
<p>Si no solicitaste este registro, ignora este mensaje.</p>